/* .Danhmuc{
    

} */
 .Danhmuc #card{
    width: 23.3%;
    height: auto;
    margin: 11px;
    float: left;
} 
.Dangki{
    width: 60em;
    margin-left: 10%;
}
.form span{
    font-size:13px;
    font-style: italic;
    font-weight: bold;
    color: red;
}